@use '../base/variables' as v;
@use '../base/mixins' as m;


.navegacion{
  display: flex;
  height: 5rem;
  width: 100%;
  background-color :v.$primario;
  font-family: 'Hind Siliguri',sans-serif;
  color: v.$cuaternario;
  align-items: center;
  justify-content: space-between;

  &__heading{
    margin-left: 1rem;
  }

  &__buscador{
    margin-left: 3rem;
    border-radius: 5rem;
    height: 2rem;
    border: none;
    padding-left: .5rem;
  }
  &__icono-lupa{
    width: 3rem;
    margin-right: 1rem;
   }
}
